In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
CA = pd.read_csv('CAvideos.csv')

In [3]:
DE = pd.read_csv('DEvideos.csv')

In [4]:
FR = pd.read_csv('FRvideos.csv')

In [5]:
GB = pd.read_csv('GBvideos.csv')

In [6]:
IN = pd.read_csv('INvideos.csv')

In [7]:
JP = pd.read_csv('JPvideos.csv', encoding='latin-1')
JP.shape

(20523, 16)

In [8]:
JP.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,5ugKfHgsmYw,18.07.02,é¸èªããªãåç´ã«è½ä¸ï¼è·¯ä¸ã®è»ã...,æäºéä¿¡æ åã»ã³ã¿ã¼,25,2018-02-06T03:04:37.000Z,"äºæ |""ä½è³""|""ä½è³ç""|""ããªã³ãã¿ã...",188085,591,189,0,https://i.ytimg.com/vi/5ugKfHgsmYw/default.jpg,True,False,False,ä½è³çç¥å¼å¸ã®æ°å®¶ã«å¢è½ããé¸ä...
1,ohObafdd34Y,18.07.02,ã¤ããQ ãç¥­ãç·å®®å·Ãæè¶ å·¨å¤§ã...,ç¥è°·ãããª Kamiya Erina 2,1,2018-02-06T04:01:56.000Z,[none],90929,442,88,174,https://i.ytimg.com/vi/ohObafdd34Y/default.jpg,False,False,False,NaN
2,aBr2kKAHN6M,18.07.02,Live Views of Starman,SpaceX,28,2018-02-06T21:38:22.000Z,[none],6408303,165892,2331,3006,https://i.ytimg.com/vi/aBr2kKAHN6M/default.jpg,False,False,False,NaN
3,5wNnwChvmsQ,18.07.02,æ±äº¬ãã£ãºãã¼ãªã¾ã¼ãã®å ã­ã£ã...,ã¢ã·ã¿ãã¯ãã¤,25,2018-02-06T06:08:49.000Z,ã¢ã·ã¿ãã¯ãã¤,96255,1165,277,545,https://i.ytimg.com/vi/5wNnwChvmsQ/default.jpg,False,False,False,æ±äº¬ãã£ãºãã¼ãªã¾ã¼ãã®å ã­ã£ã...
4,B7J47qFvdsk,18.07.02,æ¦®åå¥ã ãè¡æã®æ­»ãã ãµãï¼æ ç...,ã·ãããã¥ãã¤,1,2018-02-06T02:30:00.000Z,[none],108408,1336,74,201,https://i.ytimg.com/vi/B7J47qFvdsk/default.jpg,False,False,False,å®¶ã«å¸°ã£ã¦ãããµã©ãªã¼ãã³ã®ãã...

In [9]:
def fix_mojibake(s):
    try:
        return s.encode("latin-1").decode("utf-8")
    except:
        return s

I asked an AI how to fix the character so it reads the text properly

In [10]:
JP = JP.map(fix_mojibake)
JP.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,5ugKfHgsmYw,18.07.02,陸自ヘリ、垂直に落下＝路上の車が撮影,時事通信映像センター,25,2018-02-06T03:04:37.000Z,"事故|""佐賀""|""佐賀県""|""ヘリコプター""|""ヘリ""|""自衛隊""|""墜落""|""落下""|""現...",188085,591,189,0,https://i.ytimg.com/vi/5ugKfHgsmYw/default.jpg,True,False,False,佐賀県神埼市の民家に墜落した陸上自衛隊のＡＨ６４Ｄ戦闘ヘリコプターが垂直に落下する様子を、近...
1,ohObafdd34Y,18.07.02,イッテQ お祭り男宮川×手越 巨大ブランコ②,神谷えりな Kamiya Erina 2,1,2018-02-06T04:01:56.000Z,[none],90929,442,88,174,https://i.ytimg.com/vi/ohObafdd34Y/default.jpg,False,False,False,NaN
2,aBr2kKAHN6M,18.07.02,Live Views of Starman,SpaceX,28,2018-02-06T21:38:22.000Z,[none],6408303,165892,2331,3006,https://i.ytimg.com/vi/aBr2kKAHN6M/default.jpg,False,False,False,NaN
3,5wNnwChvmsQ,18.07.02,東京ディズニーリゾートの元キャストが暴露した秘密5選,アシタノワダイ,25,2018-02-06T06:08:49.000Z,アシタノワダイ,96255,1165,277,545,https://i.ytimg.com/vi/5wNnwChvmsQ/default.jpg,False,False,False,東京ディズニーリゾートの元キャストが暴露した秘密5選\n\nかたまりクリエイトさま\n【検証...
4,B7J47qFvdsk,18.07.02,榮倉奈々、衝撃の死んだふり！映画『家に帰ると妻が必ず死んだふりをしています。』特報,シネマトゥデイ,1,2018-02-06T02:30:00.000Z,[none],108408,1336,74,201,https://i.ytimg.com/vi/B7J47qFvdsk/default.jpg,False,False,False,家に帰ってきたサラリーマンのじゅん（安田顕）は、玄関で血を出して倒れている妻ちえ（榮倉奈々）...

In [11]:
KR = pd.read_csv('KRvideos.csv', encoding='latin-1')
KR.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,RxGQe4EeEpA,17.14.11,ì¢ì by ë¯¼ì_ì¤ì¢ ì _ì¢ë ëµê°,ë¼í¸ë§ì½ë¦¬ì,22,2017-11-13T07:07:36.000Z,"ë¼í¸ë§|""ì¤ì¢ ì ""|""ì¢ë""|""ì¢ì""|""ì¬ë ...",156130,1422,40,272,https://i.ytimg.com/vi/RxGQe4EeEpA/default.jpg,False,False,False,ì¤ì¢ ì 'ì¢ë'ì ëµê° 'ì¢ì' ìµì´ ê...
1,hH7wVE8OlQ0,17.14.11,JSA ê·ì ë¶íêµ° ì´ê²© ë¶ì,Edward,25,2017-11-13T10:59:16.000Z,"JSA|""ê·ì""|""ë¶íêµ°""|""ì´ê²©""|""ë¶ì""|""JS...",76533,211,28,113,https://i.ytimg.com/vi/hH7wVE8OlQ0/default.jpg,False,False,False,[ì±ëAë¨ë ]å ë³ì¬ íì¬ 'ììë¶ëª ...
2,9V8bnWUmE9U,17.14.11,ëëª°ë¼í¨ë°ë¦¬ ì´ëí ìì 2í (ë¹¼ë...,ëëª°ë¼í¨ë°ë¦¬ í«ì¼,22,2017-11-11T07:16:08.000Z,"ìëë¤ì¤|""ë¹¼ë¹¼ë¡""|""í«ì¼""|""ëëª°ë¼í...",421409,5112,166,459,https://i.ytimg.com/vi/9V8bnWUmE9U/default.jpg,False,False,False,í¼ê°ì¤ë ê¼­ ì¶ì² ë¶íëë ¤ì
3,0_8py-t5R80,17.14.11,"áá µáá §á¼áá ¡á¨ ì¶êµ­ íì¥, ëì¹...",ë¯¸ëì´ëª½êµ¬,25,2017-11-12T11:19:52.000Z,"ì´ëª ë°|""ì´ëª ë° ì¶êµ­ê¸ì§""|""ì´ëª ë° ...",222850,2093,173,1219,https://i.ytimg.com/vi/0_8py-t5R80/default.jpg,False,False,False,ë¤ì¤ë ëêµ¬ê²ëê¹ ë£ê³ ë í íì 
4,bk55RbxiQdI,17.14.11,ê¹ì¥ê²¸ì ë¬¼ë¬ê°ë¤ MBC ë ¸ì¡° íí¸ì...,NocutV,25,2017-11-13T11:08:59.000Z,"nocutV|""ë ¸ì»·V""|""CBS""|""mbc""|""ê¹ì¥ê²¸""|""í´ì...",84466,1094,109,450,https://i.ytimg.com/vi/bk55RbxiQdI/default.jpg,False,False,False,ê¹ì¥ê²¸ MBC ì¬ì¥ì´ ê²°êµ­ í´ìëë¤.\n...

In [12]:
KR.shape

(34567, 16)

In [13]:
KR = KR.map(fix_mojibake)
KR.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,RxGQe4EeEpA,17.14.11,좋아 by 민서_윤종신_좋니 답가,라푸마코리아,22,2017-11-13T07:07:36.000Z,"라푸마|""윤종신""|""좋니""|""좋아""|""샬레""|""민서""",156130,1422,40,272,https://i.ytimg.com/vi/RxGQe4EeEpA/default.jpg,False,False,False,윤종신 '좋니'의 답가 '좋아' 최초 공개!\n그 여자의 이야기를 지금 만나보세요....
1,hH7wVE8OlQ0,17.14.11,JSA 귀순 북한군 총격 부상,Edward,25,2017-11-13T10:59:16.000Z,"JSA|""귀순""|""북한군""|""총격""|""부상""|""JSA 귀순 북한군 총격 부상""",76533,211,28,113,https://i.ytimg.com/vi/hH7wVE8OlQ0/default.jpg,False,False,False,[채널A단독]北 병사 현재 '의식불명'… 혈압 떨어지는 중 \n[채널A단독]우리측 ...
2,9V8bnWUmE9U,17.14.11,나몰라패밀리 운동화 영상 2탄 (빼빼로데이버젼),나몰라패밀리 핫쇼,22,2017-11-11T07:16:08.000Z,"아디다스|""빼빼로""|""핫쇼""|""나몰라패밀리""|""대학로""|""공연""",421409,5112,166,459,https://i.ytimg.com/vi/9V8bnWUmE9U/default.jpg,False,False,False,퍼가실때 꼭 출처 부탁드려요
3,0_8py-t5R80,17.14.11,"이명박 출국 현장, 놓치면 안되는 장면",미디어몽구,25,2017-11-12T11:19:52.000Z,"이명박|""이명박 출국금지""|""이명박 출국현장""|""이명박 바레인""|""이명박 대통령""|...",222850,2093,173,1219,https://i.ytimg.com/vi/0_8py-t5R80/default.jpg,False,False,False,다스는 누구겁니까 듣고 난 후 표정
4,bk55RbxiQdI,17.14.11,김장겸은 물러갔다 MBC 노조 환호와 눈물,NocutV,25,2017-11-13T11:08:59.000Z,"nocutV|""노컷V""|""CBS""|""mbc""|""김장겸""|""해임""|""허일후""",84466,1094,109,450,https://i.ytimg.com/vi/bk55RbxiQdI/default.jpg,False,False,False,김장겸 MBC 사장이 결국 해임됐다.\n\nMBC 대주주인 방송문화진흥회는 13일 ...

In [14]:
KR.shape

(34567, 16)

In [15]:
MX = pd.read_csv('MXvideos.csv', encoding='latin-1')
MX.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,SbOwzAl9ZfQ,17.14.11,CapÃ­tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...
1,klOV6Xh-DnI,17.14.11,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,Micky Contreras Martinez,22,2017-11-13T05:11:58.000Z,La Voz Mexico 7,104972,271,174,369,https://i.ytimg.com/vi/klOV6Xh-DnI/default.jpg,False,False,False,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...
2,6L2ZF7Qzsbk,17.14.11,LOUIS CKAGÃ - EL PULSO DE LA REPÃBLICA,El Pulso De La RepÃºblica,25,2017-11-13T17:00:02.000Z,"Chumel Torres|""El Pulso de la Republica""|""noti...",136064,10105,266,607,https://i.ytimg.com/vi/6L2ZF7Qzsbk/default.jpg,False,False,False,La canciÃ³n del principio se llama âEste esp...
3,hcY52MFWMDM,17.14.11,Sismo de 6.7 sacude Costa Rica 12 Noviembre 2017,Casanare,25,2017-11-13T03:47:10.000Z,"temblor|""costa rica""|""sismo en costa rica""",96153,378,171,208,https://i.ytimg.com/vi/hcY52MFWMDM/default.jpg,False,False,False,El video es de un Walmart en el pais centroame...
4,_OXDcGPVAa4,17.14.11,DOG HACKS | MUSAS LESSLIE LOS POLINESIOS,Musas,26,2017-11-13T19:17:48.000Z,"MUSAS|""lesslie""|""karen""|""hacks""|""perros""|""dogs...",499965,57781,681,7428,https://i.ytimg.com/vi/_OXDcGPVAa4/default.jpg,False,False,False,MI HERMANO NARRA MI RUTINA DE MAQUILLAJE\nhttp...

In [16]:
RU = pd.read_csv('RUvideos.csv', encoding='latin-1')
RU.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,gDuslQ9avLc,17.14.11,ÐÐ°Ñ Ð°Ñ Ð¸ ÐÐ¾Ð»Ð¸Ð½Ð° ÑÑÐ°ÑÑÑ ÑÐºÐ¾...,Ð¢âÐ ÐÐÐÐÐ§,22,2017-11-13T09:09:31.000Z,"Ð·Ð°Ñ Ð°Ñ Ð¸ Ð¿Ð¾Ð»Ð¸Ð½Ð°|""ÑÑÐ¸Ð¼ÑÑ ÑÐºÐ...",62408,334,190,50,https://i.ytimg.com/vi/gDuslQ9avLc/default.jpg,False,False,False,"ÐÐ½Ð°ÐºÐ¾Ð¼ÑÑÐµÑÑ, ÑÑÐ¾ ÐÐ°Ñ Ð°Ñ Ð¸ Ð..."
1,AOCJIFEA_jE,17.14.11,ÐÐ¸ÑÐ¶Ð° ÐÐµÐ¼Ð¾Ð² #29. ÐÐ¾Ð»ÑÑÐ¾Ð¸Ì Ð²...,Druzhko Show,22,2017-11-13T17:32:11.000Z,"Ð±Ð¸ÑÐ¶Ð° Ð¼ÐµÐ¼Ð¾Ð²|""Ð»ÐµÐ² ÑÐ°Ð³Ð¸Ð½ÑÐ½""|...",330043,43841,2244,2977,https://i.ytimg.com/vi/AOCJIFEA_jE/default.jpg,False,False,False,Ð 29 Ð²ÑÐ¿ÑÑÐºÐµ ÐÑÑÐ¶ÐºÐ¾ Ð¨Ð¾Ñ Ð¡ÐµÑ...
2,VAWNQDgwwOM,17.14.11,Ð¥ÐÐÐ ÐÐ­ÐÐ - Ð¡ÐÐÐ Ð¡Ð ÐÐÐ Ð§Ð£Ð...,Ð®Ð»Ð¸Ðº,24,2017-11-13T16:11:31.000Z,"ÑÐ¼Ð¾Ñ|""ÐºÐ¾Ð¼ÐµÐ´Ð¸Ñ""|""Ð²Ð»Ð¾Ð³""|""Ð±Ð»Ð¾Ð³...",424596,49854,714,2944,https://i.ytimg.com/vi/VAWNQDgwwOM/default.jpg,False,False,False,http://kapitany.ru/!Yulik.cap - Ð¤Ð°ÐºÑÐ»ÑÑ...
3,gknkFwKQfHg,17.14.11,Ð¡Ð¾ÑÐ½Ð°Ñ ÐºÐµÑÐ°Ð´Ð¸Ð»ÑÑ Ñ ÐºÑÑÐ¸ÑÐµÐ¹,Hochland,22,2017-11-13T06:51:10.000Z,"Ñ Ð¾Ñ Ð»Ð°Ð½Ð´|""ÑÑÑ""|""ÑÐµÑÐµÐ¿ÑÑ""|""ÐºÐ°...",112851,3566,122,80,https://i.ytimg.com/vi/gknkFwKQfHg/default.jpg,False,False,False,*** ÐºÐ°Ðº Ð³Ð¾ÑÐ¾Ð²Ð¸ÑÑ ÑÐµÑÑÐ¾ÑÐ°Ð½Ð½...
4,3sYvZcwzZr8,17.14.11,ÐÐÐÐÐ« Ð ÐÐÐÐ¢ÐÐÐÐ ÐÐ Ð¨ÐÐÐÐ¬Ð...,Ð¡Ð¾Ð²ÐµÑÐ³Ð¾Ð½,24,2017-11-13T16:52:36.000Z,"Ð¡Ð¾Ð²ÐµÑÐ³Ð¾Ð½|""Sovergon""|""ÐºÐ»Ð¸Ð¿Ñ""|""ÑÐ¾...",243469,36216,631,1692,https://i.ytimg.com/vi/3sYvZcwzZr8/default.jpg,False,False,False,â ÐÐÐÐÐ£Ð Ð¡ ÐÐÐÐÐ¢ÐÐÐ«: http://ka...

In [17]:
RU = RU.map(fix_mojibake)
RU.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,gDuslQ9avLc,17.14.11,Захар и Полина учатся экономить,Т—Ж БОГАЧ,22,2017-11-13T09:09:31.000Z,"захар и полина|""учимся экономить""|""копить день...",62408,334,190,50,https://i.ytimg.com/vi/gDuslQ9avLc/default.jpg,False,False,False,"Знакомьтесь, это Захар и Полина. Вместе с ними..."
1,AOCJIFEA_jE,17.14.11,Биржа Мемов #29. Большой выпуск,Druzhko Show,22,2017-11-13T17:32:11.000Z,"биржа мемов|""лев шагинян""|""мемы""|""пикчи""|""друж...",330043,43841,2244,2977,https://i.ytimg.com/vi/AOCJIFEA_jE/default.jpg,False,False,False,"В 29 выпуске Дружко Шоу Сергей сказал, что Бир..."
2,VAWNQDgwwOM,17.14.11,ХАЙП КЭМП - СВОЙ СРЕДИ ЧУЖИХ,Юлик,24,2017-11-13T16:11:31.000Z,"юмор|""комедия""|""влог""|""блог""|""смешно""|""смешное...",424596,49854,714,2944,https://i.ytimg.com/vi/VAWNQDgwwOM/default.jpg,False,False,False,http://kapitany.ru/!Yulik.cap - Факультет #Кап...
3,gknkFwKQfHg,17.14.11,Сочная кесадилья с курицей,Hochland,22,2017-11-13T06:51:10.000Z,"хохланд|""сыр""|""рецепты""|""как приготовить""|""вку...",112851,3566,122,80,https://i.ytimg.com/vi/gknkFwKQfHg/default.jpg,False,False,False,*** как готовить ресторанные блюда дома
4,3sYvZcwzZr8,17.14.11,КЛИПЫ РОДИТЕЛЕЙ НА ШКОЛЬНЫЙ ВЫПУСКНОЙ,Совергон,24,2017-11-13T16:52:36.000Z,"Совергон|""Sovergon""|""клипы""|""родители""|""школа""...",243469,36216,631,1692,https://i.ytimg.com/vi/3sYvZcwzZr8/default.jpg,False,False,False,❏ КОНКУРС КАПИТАНЫ: http://kapitany.ru/!Soverg...

In [18]:
US = pd.read_csv('USvideos.csv', encoding='latin-1')
US.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â¶ \n\nSUBSCRIBE âº ...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

1. Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [19]:
CA["country"] = "CA"
DE["country"] = "DE"
FR["country"] = "FR"
GB["country"] = "GB"
IN["country"] = "IN"
JP["country"] = "JP"
KR["country"] = "KR"
MX["country"] = "MX"
RU["country"] = "RU"
US["country"] = "US"

In [20]:
youtubedf = pd.concat([CA,DE,FR,GB,IN,JP,KR,MX,RU,US])
youtubedf.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,CA
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,CA
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,CA
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,CA
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...,CA

In [21]:
youtubedf.shape[0]

375942

In [22]:
dfs = { "CA": CA, "DE": DE, "FR": FR, "GB": GB, "IN": IN, "JP": JP, "KR": KR, "MX": MX, "RU": RU, "US": US }
sum(df.shape[0] for df in dfs.values())

375942

2. Extract all videos that have no tag

In [23]:
no_tag_videos = youtubedf[youtubedf["tags"].isnull()]
no_tag_videos.shape

(0, 17)

In [24]:
youtubedf['tags']

0        Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...
1        plush|"bad unboxing"|"unboxing"|"fan mail"|"id...
2        racist superman|"rudy"|"mancuso"|"king"|"bach"...
3        ryan|"higa"|"higatv"|"nigahiga"|"i dare you"|"...
4        edsheeran|"ed sheeran"|"acoustic"|"live"|"cove...
                               ...
40944    aarons animals|"aarons"|"animals"|"cat"|"cats"...
40945                                               [none]
40946    I gave safiya nygaard a perfect hair makeover ...
40947    Black Panther|"HISHE"|"Marvel"|"Infinity War"|...
40948        call of duty|"cod"|"activision"|"Black Ops 4"
Name: tags, Length: 375942, dtype: object

YouTube trending CSV files sometimes encode missing tags as "[None]"

Pandas does not automatically convert "[None]" into NaN

In [25]:
no_tag_videos = youtubedf[youtubedf["tags"].str.contains("none", case=False)]

In [26]:
no_tag_videos.shape

(37747, 17)

case = False:
Makes the search case-insensitive.

"None", "none", "NONE" all will match.

Default is True (case-sensitive)

In [27]:
no_tag_videos.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
41,JwboxqDylgg,17.14.11,Canada Soccer's Women's National Team v USA In...,Canada Soccer,17,2017-11-13T05:53:49.000Z,[none],36311,277,28,13,https://i.ytimg.com/vi/JwboxqDylgg/default.jpg,False,False,False,Canada Soccer's Women's National Team face riv...,CA
58,9B-q8h31Bpk,17.14.11,John Oliver Tackles Louis C.K. And Donald Trum...,TV Shows,22,2017-11-13T04:49:26.000Z,[none],106029,1270,101,181,https://i.ytimg.com/vi/9B-q8h31Bpk/default.jpg,False,False,False,"John Oliver on News, Politics ...",CA
78,1UE5Dq1rvUA,17.14.11,Taylor Swift Perform Ready For It - SNL,Ken Reactz,24,2017-11-12T05:18:02.000Z,[none],320964,8069,285,717,https://i.ytimg.com/vi/1UE5Dq1rvUA/default.jpg,False,False,False,Thanks for watching please subscribe and subsc...,CA
86,pmJQ4KwliX4,17.14.11,"LATEST Q POSTS: ROTHSCHILDS, HOUSE OF SAUD, lL...",James Munder,2,2017-11-12T21:25:40.000Z,[none],116820,1503,139,1066,https://i.ytimg.com/vi/pmJQ4KwliX4/default.jpg,False,False,False,https://pastebin.ca/3930472\n\nSupport My Chan...,CA
98,lHcXhBojpeQ,17.14.11,三屆TVB視帝，拋棄10年青梅竹馬髮妻，為娶小三還不惜與母絕交！,明星百曉生,22,2017-11-12T12:49:50.000Z,[none],88061,47,58,17,https://i.ytimg.com/vi/lHcXhBojpeQ/default.jpg,False,False,False,NaN,CA

3. For each channel, determine the total number of views

In [28]:
youtubedf.groupby("channel_title", as_index=False)["views"].sum()

                 channel_title    views
0                   ! 세상에 무슨일이  3942977
1                !!8時だよ面白ネタ大集合    50207
2               !BTS・TWICE まとめ     7310
3      !Los amorosos ViralesÂ¡     6069
4                      !t Live   240038
...                        ...      ...
37880               ５分でできる DIY   272607
37881                   ＢＡＳＨｔｖ   116292
37882            Ｋのフィッシングちゃんねる    37165
37883                  ＷＡＪＯＩＫＡ   424129
37884                 💜Sandrea   347155

[37885 rows x 2 columns]

4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [29]:
excluded = youtubedf[
(youtubedf['comments_disabled'] & youtubedf['ratings_disabled'])
| youtubedf['video_error_or_removed']]

In [30]:
youtubedf = youtubedf[~(
(youtubedf['comments_disabled'] & youtubedf['ratings_disabled'])
| youtubedf['video_error_or_removed'])]

5. Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [31]:
youtubedf.loc[:,'like_ratio'] = youtubedf.apply(
    lambda row: row['likes'] / row['dislikes'] if row['dislikes'] != 0 else pd.NA,
    axis=1
)

6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [32]:
youtubedf['publish_time'] = pd.to_datetime(
    youtubedf['publish_time'], format = '%Y-%m-%dT%H:%M:%S.%fZ', utc=True)

In [33]:
cluster = ((youtubedf['publish_time'].dt.hour * 60 + youtubedf['publish_time'].dt.minute)//10)

In [34]:
youtubedf.groupby(cluster).size()

publish_time
0      2897
1      1509
2      1241
3      1614
4      1269
       ...
139    1554
140    1438
141    1666
142    1466
143    1269
Length: 144, dtype: int64

In [35]:
youtubedf['cluster'] = cluster

In [36]:
youtubedf.set_index('cluster').sort_index()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio
cluster,,,,,,,,,,,,,,,,,,
0,k1cA-Wh3Tc0,17.23.11,Peephole Reverser? | 9 Pointless Tech Gadgets!,Matthias,28,2017-11-15 00:00:03+00:00,"tech|""gadgets""|""new""|""2017""|""pointless tech ga...",946097,20797,975,6567,https://i.ytimg.com/vi/k1cA-Wh3Tc0/default.jpg,False,False,False,Today I test out some weird gadgets and tech i...,GB,21.330256
0,wMdCAsC3LxM,18.08.01,"[상상극장] 일기장에 쓰면, 현실이 된다.｜빨간토마토",Red Tomato,24,2018-01-06 00:00:02+00:00,"미스터리|""상상극장""|""상상극장 철수""|""빨간토마토""|""무서운 이야기""|""애니메이션...",93363,1823,23,1025,https://i.ytimg.com/vi/wMdCAsC3LxM/default.jpg,False,False,False,사람을 죽이는 '데스노트'가 아닌 적는 것을 현실로 이뤄주는\n'소원노트'를 상상해...,KR,79.26087
0,gau41b7_Hqs,18.17.04,How To Prep Before Grilling The Most Powerful ...,VICE News,25,2018-04-12 00:03:56+00:00,"chairman walden|""internet""|""VICE News Tonight""...",265468,2266,328,681,https://i.ytimg.com/vi/gau41b7_Hqs/default.jpg,False,False,False,"Rep. Greg Walden, the chairman of the House co...",US,6.908537
0,Wix-MEsyzg8,18.24.03,Emilio le pide cita a Alexia en medio de su po...,Chismeador TV,22,2018-03-24 00:09:09+00:00,"enamorÃ¡ndonos|""23 de marzo""|""2018""",98337,601,68,93,https://i.ytimg.com/vi/Wix-MEsyzg8/default.jpg,False,False,False,Prestamos de dinero online facil rapido y sin ...,MX,8.838235
0,eYJCjVkOImU,17.11.12,Sam Smith - Palace (On The Record: The Thrill ...,SamSmithWorldVEVO,10,2017-12-08 00:01:00+00:00,"Sam|""Smith""|""Palace""|""Capitol""|""Pop""",1491313,68212,568,3014,https://i.ytimg.com/vi/eYJCjVkOImU/default.jpg,False,False,False,Best of Sam Smith https://goo.gl/qd5ZFH\nSam S...,US,120.091549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,diONhE1qDOs,17.30.11,NUEVAS PARTICIPANTES A EXATLÃN MÃXICO SEGÃN...,JIREN BIEN GRIS,24,2017-11-28 23:55:12+00:00,"ENTRETENIMIENTO|""EXATLON""",195973,525,141,241,https://i.ytimg.com/vi/diONhE1qDOs/default.jpg,False,False,False,QUE TAL AMIGOS TRAS UN FACEBOOK LIVE QUE LE HI...,MX,3.723404
143,RLX0mN05fl0,18.01.03,Zemmour et Naulleau : émission du 28 février 2...,Taxi10,25,2018-02-28 23:52:30+00:00,[none],5159,62,15,23,https://i.ytimg.com/vi/RLX0mN05fl0/default.jpg,False,False,False,NaN,FR,4.133333
143,0ITH-HBy1iA,18.20.05,مسلسل أيوب | النجم مصطفي شعبان – الحلقة الثانية ٢,AlHayah TV Network,25,2018-05-18 23:54:10+00:00,"قناة الحياة|""مشاهدة قناة الحياة""|""قناة الحياة ...",1124240,8483,585,1107,https://i.ytimg.com/vi/0ITH-HBy1iA/default.jpg,False,False,False,تابعونا على فيسبوك وتويتر ..https://www.facebo...,CA,14.500855
143,0vqt-BaYwW0,18.20.02,Un Feliz San Valentin | Lo que Callamos las Mu...,Lumaid,24,2018-02-19 23:50:58+00:00,[none],33584,290,45,21,https://i.ytimg.com/vi/0vqt-BaYwW0/default.jpg,False,False,False,AquÃ­ mÃ¡s capÃ­tulos de lo que Callamos las M...,MX,6.444444
143,yvicqMrAHvQ,18.06.02,Turkish Airlines - 5 Senses with Dr. Oz,Turkish Airlines,19,2018-02-04 23:55:21+00:00,[none],4629914,2205,199,253,https://i.ytimg.com/vi/yvicqMrAHvQ/default.jpg,False,False,False,ðâï¸\nThere is a world of miracles. Get ...,US,11.080402

7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [37]:
cluster_stats = youtubedf.groupby(cluster).agg(
    num_videos=('cluster', 'size'),
    avg_likes=('likes', 'mean'),
    avg_dislikes=('dislikes', 'mean'))

In [38]:
cluster_stats = cluster_stats.reset_index()
cluster_stats['interval_start'] = pd.to_timedelta(cluster_stats['publish_time']*10, unit='m')

In [39]:
cluster_stats = cluster_stats.set_index('publish_time')

In [40]:
cluster_stats

              num_videos     avg_likes  avg_dislikes  interval_start
publish_time
0                   2897  61288.115637   3808.149465 0 days 00:00:00
1                   1509  22748.138502   1449.836315 0 days 00:10:00
2                   1241  21378.280419   1072.344883 0 days 00:20:00
3                   1614  36853.560719    955.890954 0 days 00:30:00
4                   1269  42198.623325   1909.301812 0 days 00:40:00
...                  ...           ...           ...             ...
139                 1554  22783.840412   1110.168597 0 days 23:10:00
140                 1438  30696.510431   1177.020862 0 days 23:20:00
141                 1666  18159.173469    874.184874 0 days 23:30:00
142                 1466  45736.581855   9341.549795 0 days 23:40:00
143                 1269  10853.743893    505.701340 0 days 23:50:00

[144 rows x 4 columns]

8. For each tag, determine the number of videos
Notice that tags contains a string with several tags.

In [42]:
tag_counts = youtubedf['tags'].str.split('|')
tag_counts = tag_counts.apply(lambda x: [t for t in x if t.lower() != '[none]'] if isinstance(x, list) else [])
tag_counts = tag_counts.explode()
tag_counts = tag_counts.dropna()
tag_counts_df = tag_counts.value_counts().reset_index()
tag_counts_df.columns = ['tags', 'num_videos']
tag_counts_df

                                   tags  num_videos
0                               "funny"       14933
1                              "comedy"       11962
2                                "2018"       11029
3                                "news"        5955
4                               "music"        5590
...                                 ...         ...
888641    "crayola asos crayons makeup"           1
888642          "crayola makeup review"           1
888643          "crayola beauty review"           1
888644          "crayola crayon makeup"           1
888645  "crayola crayons makeup review"           1

[888646 rows x 2 columns]

9. Find the tags with the largest number of videos

In [43]:
top_tags = tag_counts_df.sort_values(by='num_videos', ascending=False)

In [44]:
top_tags.head(10)

           tags  num_videos
0       "funny"       14933
1      "comedy"       11962
2        "2018"       11029
3        "news"        5955
4       "music"        5590
5        "2017"        5500
6       "video"        5391
7       "humor"        5036
8  "television"        4160
9        "show"        4131

10. For each (tag, country) pair, compute average ratio likes/dislikes

In [45]:
youtubedf['tags_list'] = (
    youtubedf['tags']
    .str.split('|')
    .apply(lambda x: [t for t in x if isinstance(t, str) and t.strip() != '' and t.lower() != '[none]'] 
           if isinstance(x, list) else [])
)

Create a column with the cleaned list of tags

In [46]:
df_tags = youtubedf.explode('tags_list').rename(columns={'tags_list': 'tag'})

Explode the tags into the dataframe.
Each video with multiple tags becomes multiple rows, one for each tag. 
Other columns are duplicated accordingly

In [47]:
average_ratio_country = (
    df_tags.groupby(['tag', 'country'])['like_ratio']
    .mean()
    .reset_index()
)
average_ratio_country.head(10)

                        tag country like_ratio
0              #Freeticket"      IN   2.665679
1                     #GST       IN   2.416896
2                #Jaisimha       IN   2.665679
3           #JanaSenaParty       IN  17.621907
4               #MahaaNews"      IN   8.511947
5   #PawanKalyan #AlluArjun      IN   9.983453
6     #PrimeTimeWithMurthy"      IN   6.263998
7           #RamGopalVarma       IN   2.416896
8                 #SUSANNE"      DE  78.841463
9                  #VMA 20       FR   9.615385

11. For each (trending_date, country) pair, the video with the largest number of views

In [48]:
youtubedf['trending_date'] = pd.to_datetime(youtubedf['trending_date'], format="%y.%d.%m")

In [49]:
youtubedf.groupby(['trending_date', 'country'])['views'].idxmax()

trending_date  country
2017-11-14     CA             4
               DE            31
               FR           174
               GB             6
               IN            17
                          ...
2018-06-14     JP         20394
               KR         34519
               MX         40377
               RU         40550
               US         40869
Name: views, Length: 1967, dtype: int64

12. Divide trending_date into three columns: year, month, day

In [50]:
youtubedf['year'] = youtubedf['trending_date'].dt.year
youtubedf['month'] = youtubedf['trending_date'].dt.month
youtubedf['day'] = youtubedf['trending_date'].dt.day

youtubedf[['trending_date', 'year', 'month', 'day']].sample(10)

      trending_date  year  month  day
21540    2018-03-04  2018      3    4
34326    2018-05-12  2018      5   12
33961    2018-06-11  2018      6   11
20433    2018-02-26  2018      2   26
5964     2017-12-13  2017     12   13
18172    2018-05-31  2018      5   31
3534     2017-12-02  2017     12    2
12116    2018-01-26  2018      1   26
1939     2017-11-24  2017     11   24
8294     2017-12-25  2017     12   25

13. For each (month, country) pair, the video with the largest number of views

In [51]:
youtubedf.groupby(['month', 'country'])['views'].idxmax()

month  country
1      CA         11214
       DE         11049
       FR         11132
       GB         12763
       IN         12044
                  ...
12     IN          5408
       KR          4856
       MX          5261
       RU          4833
       US          6181
Name: views, Length: 77, dtype: int64

14. Read all json files with the video categories

In [52]:
import glob
import json
import os

folder_path = "file_category"   # cartella con i json
json_files = glob.glob(os.path.join(folder_path, "*_category_id.json"))

categories_dict = {}

for file in json_files:
    # Estrae il country code dal nome file (es. CA_category_id.json → CA)
    country = os.path.basename(file).split("_")[0]

    with open(file, "r", encoding="utf-8") as f:
        data = json.load(f)

    # Prendiamo SOLO le categorie assignable
    assignable_ids = {
        int(item["id"])
        for item in data["items"]
        if item["snippet"]["assignable"] is True
    }

    categories_dict[country] = assignable_ids

In [55]:
categories_dict

{'CA': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'DE': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'FR': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'GB': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'IN': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'JP': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'KR': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'MX': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'RU': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28},
 'US': {1, 2, 10, 15, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29}}

15. For each country, determine how many videos have a category that is not assignable.

In [56]:
# Controllo se la categoria del video è assegnabile nel paese
youtubedf['assignable'] = youtubedf.apply(
    lambda row: row['category_id'] in categories_dict.get(row['country'], set()),
    axis=1
)

# Video non assegnabili
non_assignable_videos = youtubedf[~youtubedf['assignable']]

In [60]:
non_assignable_videos['assignable']

43       False
228      False
264      False
349      False
359      False
         ...
38532    False
38735    False
38939    False
39141    False
39344    False
Name: assignable, Length: 3699, dtype: bool

In [61]:
# Conteggio per paese
count_non_assignable = (
    non_assignable_videos
    .groupby('country')
    .size()
    .reset_index(name='num_non_assignable_videos')
)

count_non_assignable

  country  num_non_assignable_videos
0      CA                        204
1      DE                        352
2      FR                        223
3      GB                        110
4      IN                        295
5      JP                         18
6      KR                        453
7      MX                        254
8      RU                       1733
9      US                         57